<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['pokemons']" class="brand-logo center">{{title}}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down fixed">
      <li routerLinkActive="active">
        <a [routerLink]="['pokemons']">Pokemones</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['mypokemons']">My Pokemones</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['author']">Author</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li routerLinkActive="active">
        <a [routerLink]="['pokemons']">Pokemones</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['mypokemons']">My Pokemones</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['author']">Author</a>
      </li>
      <li><div class="divider"></div></li>
      <li *ngIf="currentUser == null">
        <a href="#modal1" class="modal-trigger" (click)="openModalSignUp()">Sign Up</a>
      </li>
      <li *ngIf="currentUser == null">
        <a href="#modal2" class="modal-trigger" (click)="openModalSignIn()">Sign In</a>
      </li>
      <li *ngIf="currentUser != null"><a (click)="signOut()" class="dropdown-button" data-activates="dropdown1">{{ userName }}<i class="material-icons right"></i></a></li>
    </ul>
    <div *ngIf="currentUser == null">
      <ul class="right hide-on-med-and-down fixed">
          <li>
            <a href="#modal1" class="modal-trigger" (click)="openModalSignUp()">Sign Up</a>
          </li>
          <li>
            <a href="#modal2" class="modal-trigger" (click)="openModalSignIn()">Sign In</a>
          </li>
        </ul>
    </div>
    <div *ngIf="currentUser != null">
      <ul class="right hide-on-med-and-down fixed">
          <li><a (click)="signOut()" class="dropdown-button" data-activates="dropdown1">{{ userName }}<i class="material-icons right"></i></a></li>
        </ul>
      </div>
  </div>
</nav>

<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Register to Pokedex</h4>
    <p>You can have a favorite Pokemons</p>
    <div class="row">
      <div class="col s3"></div>
      <div class="col s6">
        <form #templateFormSignUp="ngForm" (ngSubmit)="submitForm(templateFormSignUp.value)">
          <div class="input-field">
            <input id="name" type="text" class="validate" name="name"  ngModel #name="ngModel">
            <label class="active" for="name">Your Name</label>
          </div>
          <div class="input-field">
            <input id="email" type="email" class="validate" name="email" ngModel #email="ngModel">
            <label class="active" for="email">Email</label>
          </div>
          <div class="input-field">
            <input id="password" type="password" class="validate" name="password" ngModel #password="ngModel">
            <label class="active" for="password">Password</label>
          </div>
          <button type="submit" (click)="templateFormSignUp.submit()" class="right waves-effect waves-light btn">Sign Up</button>
        </form>
      </div>
      <div class="col s3"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h4>Login to Pokedex</h4>
      <p>You can have a favorite Pokemons</p>
      <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
          <form #templateFormLogin="ngForm" (ngSubmit)="submitLogin(templateFormLogin.value)">
            <div class="input-field">
              <input id="email" type="email" class="validate" name="email" ngModel #email="ngModel">
              <label class="active" for="email">Email</label>
            </div>
            <div class="input-field">
              <input id="password" type="password" class="validate" name="password" ngModel #password="ngModel">
              <label class="active" for="password">Password</label>
            </div>
            <button type="submit" (click)="templateFormLogin.submit()" class="right waves-effect waves-light btn">Sign In</button>
          </form>
        </div>
        <div class="col s3"></div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    </div>
  </div>

<router-outlet></router-outlet>
